<div>
    <span>座右铭：</span><span>机会只有一次，毕竟时间不等人</span>
    <br /><br />
    <span>联系方式：</span>
    <div class="about-pre">
        <p>
            GitHub：<a target="_blank" href="https://github.com/xiaoxiaoying">https://github.com/xiaoxiaoying</a>
        </p>
        <p>
            email：xiaoxiaoying91@gmail.com &nbsp;/&nbsp;1037691912@qq.com
        </p>
        <p>
            微博：<a target="_blank" href="http://www.weibo.com/2479797387/profile?rightmod=1&wvr=6&mod=personinfo">骑着蜗牛追寻梦</a>

        </p>

        <p>
            Facebook：<a target="_blank" href="https://www.facebook.com/xiaoxiaoying91" >XiaoXiaoYing</a>
        </p>

    </div>
</div>