---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<div class="head" align="center">

    <img class="avatar" src="{{'/assets/img/xiaoxiaoying_icon.png'}}">
    <div class="main-nav">
        <ul>
            <li class="li2 current" >
                <a>
                    工具
                </a>
            </li>
            <li class="li" style="margin-left: 20px;margin-right: 20px;">
                <a>
                    全部文章
                </a>
            </li>

            <li class="li1">
                <a>
                    关于本人
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="center">
    <main class="pt-page" id="tools">
        {% for value in site.posts %}
        {% if value.type == 'tools' %}
        <div class="tools-item" align="center">
            <a target="_blank" href="{{ value.url }}">
                <p style="margin: 0">{{value.title}}</p>
                <p style="margin:0;font-size: 12px">{{value.date | date:'%Y/%m/%d'}}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </main>

    <main class="pt-page" id="all">

        {% for value in site.posts %}
        {% if value.type != 'tools' %}
        <div>
            <a target="_blank" href="{{ value.url }}">
                <span>{{value.title}}</span>
                <span style="float: right;">{{value.date | date:'%Y/%m/%d'}}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}

    </main>

    <main class="pt-page" id="about">
        {% include about.html %}
    </main>

</div>

{% include footer.html %}
</body>
</html>
